{{#if cache.selectedSnippets}}
    {{#action-bar models=cache.selectedSnippets}}
        <div class="col-xs-2 outer-label">
            {{#link-to 'index' tagName='div' class='inner-label'}}
                <i class="mdi-navigation-arrow-back"></i>
            {{/link-to}}
        </div>

        <div class="col-xs-6">
            &nbsp;
        </div>
    {{/action-bar}}
{{else}}
    {{#if selectedLabels}}
        {{#action-bar models=selectedLabels}}
            <div class="col-xs-4">
                &nbsp;
            </div>

            <div class="col-xs-2 outer-label">
                {{#if hasSingle}}
                    <div {{action 'edit'}} class="inner-label">
                        <i class="mdi-editor-mode-edit"></i>
                    </div>
                {{else}}
                    &nbsp;
                {{/if}}
            </div>

            <div class="col-xs-2 outer-label">
                <div{{action 'remove'}}  class="inner-label">
                    <i class="mdi-action-delete"></i>
                </div>
            </div>
        {{/action-bar}}
    {{/if}}
{{/if}}

<div class="form-group float-input">
    <div class="input-group">
        {{#if liveQuery}}
            {{clear-addon text=liveQuery}}
        {{/if}}

        {{suggest-input value=liveQuery placeholder='Create or search label' fetchSuggestions=fetchSuggestions insert-newline='search'}}

        <div {{action 'createLabel'}} class="input-group-btn">
            <div class="btn btn-primary">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <div class="btn btn-primary">
        <i class="fa fa-search"></i>
    </div>
</div>

{{#each label in sortedLabels}}
    {{app-label model=label action='toggleLabel' param=label}}
{{/each}}
