{{#if cache.selectedSnippets}}
    {{snippet-action-bar snippets=cache.selectedSnippets originals=fileSystem.snippets}}
{{/if}}

<div class="form-group float-input">
    <div {{bind-attr class='liveQuery:input-group'}}>
        {{#if liveQuery}}
            {{clear-addon text=liveQuery}}
        {{/if}}

        {{#if isEditMode}}
            {{suggest-input value=liveQuery placeholder=editPlaceholder fetchSuggestions=fetchSuggestions insert-newline='saveEdit'}}
        {{else}}
            {{suggest-input value=liveQuery placeholder='Search' fetchSuggestions=fetchSuggestions insert-newline='search'}}
        {{/if}}
    </div>
</div>

<div class="list-group">
    {{#each snippet in sortedSnippets}}
        {{app-snippet model=snippet action='play' swipeleft='removeFromQueue' param=snippet}}

        <div class="list-group-separator snippet-separator" />
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
