<div class="row">
    <div {{bind-attr class=cellClass}}>
        <span class="badge">
            {{models.length}}
        </span>
    </div>

    <!-- TODO: Toggle label tag vs search? -->
    <div {{bind-attr class=cellClass}}>
        <i class="mdi-maps-local-offer menu-label"></i>
    </div>

    {{#if unsavedModel}}
        <div {{action 'save'}} {{bind-attr class=cellClass}}>
            {{#unless isEveryUnsaved}}
                <span class="badge">
                    {{unsavedModel.length}}
                </span>
            {{/unless}}

            <i class="mdi-file-file-download menu-label"></i>
        </div>
    {{/if}}

    {{#if hasSingle}}
        <div {{action 'edit'}} {{bind-attr class=cellClass}}>
            <span class="badge" />

            <i class="mdi-editor-mode-edit menu-label"></i>
        </div>
    {{/if}}

    {{#if savedModel}}
        <div {{bind-attr class=cellClass}}>
            {{#unless isEverySaved}}
                <span class="badge">
                    {{savedModel.length}}
                </span>
            {{/unless}}

            <i {{action 'remove'}} class="mdi-action-delete menu-label"></i>
        </div>
    {{/if}}

    <div {{bind-attr class=lastCellClass}}>
        <i {{action 'deselect'}} class="mdi-navigation-cancel menu-label"></i>
    </div>
</div>
