{{#if isLoading}}
    <div class="progress loading-bar">
        <div class="progress-bar progress-bar-striped progress-bar-info active" style="width: inherit;" />
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissable error-bar">
        <button type="button" class="close" aria-hidden="true" {{action 'dismissAlert'}}>&times;</button>
        <strong>Error:</strong> {{{error.message}}}
    </div>
{{/if}}

<div class="btn-group btn-group-justified menu-bar">
    {{#menu-item 'labels'}}
        Labels
    {{/menu-item}}

    {{#menu-item 'index'}}
        Search
    {{/menu-item}}

    {{#menu-item 'queue'}}
        queue
    {{/menu-item}}
</div>

<div class="menu-placeholder" />

{{#if selectedSnippets}}
    {{view action-bar snippets=selectedSnippets}}

    <div class="action-bar-placeholder" />
{{/if}}

<div class="form-group">
    <div {{bind-attr class='searchQuery:input-group'}}>
        {{suggest-input value=searchQuery placeholder='Search' fetchSuggestions=fetchOnlineSuggestions insert-newline='search'}}

        {{#if searchQuery}}
            <div class="input-group-btn">
                <div {{action 'clear' 'searchQuery'}} class="btn btn-default">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        {{/if}}
    </div>
</div>

{{outlet}}

{{#if audio.snippet}}
    <div class="audio-stamp" />

    <div class="audio-slider">
        {{view slider-component slider=slider}}
    </div>

    <div class="container audio-bar">
        <div class="row">
            <div class="col-xs-2">
                <div class="audio-timer">
                    {{time slider.value}}
                </div>
            </div>

            <div class="col-xs-6">
                <div class="audio-title">
                    {{audio.snippet.title}}
                </div>
            </div>

            <div class="col-xs-2">
                <div class="audio-icon">
                    {{#if audio.isLoading}}
                        <i class="fa fa-spinner fa-pulse"></i>
                    {{/if}}

                    {{#if audio.isPlaying}}
                        <i class="fa fa-pause" {{action 'pause'}}></i>
                    {{/if}}

                    {{#if audio.isIdle}}
                        <i class="fa fa-play" {{action 'play'}}></i>
                    {{/if}}
                </div>
            </div>

            <div class="col-xs-2">
                <div class="audio-timer text-right">
                    {{time slider.max}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{view audio-component audio=audio}}
