{{#if isLoading}}
    <div class="progress loading-bar">
        <div class="progress-bar progress-bar-striped progress-bar-info active" style="width: inherit;" />
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissable error-bar">
        <button type="button" class="close" aria-hidden="true" {{action 'dismissAlert'}}>&times;</button>
        <strong>Error:</strong> {{{error.message}}}
    </div>
{{/if}}

{{outlet}}

<div {{bind-attr visibility='audio.snippet:visible:hidden'}}>
    <div class="audio-slider">
        {{view slider-component slider=slider}}
    </div>

    <div class="container audio-bar">
        <div class="row">
            <div class="col-xs-2">
                <div class="audio-timer">
                    {{time slider.value}}
                </div>
            </div>

            <div class="col-xs-6">
                <div class="audio-title">
                    {{audio.snippet.title}}
                </div>
            </div>

            <div class="col-xs-2">
                <div class="audio-icon">
                    {{#if audio.error}}
                        <i class="fa fa-exclamation"></i>
                    {{else}}
                        {{#if audio.isLoading}}
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        {{else}}
                            {{#if audio.isPlaying}}
                                <i class="fa fa-pause" {{action 'pause'}}></i>
                            {{else}}
                                <i class="fa fa-play" {{action 'play'}}></i>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <div class="col-xs-2">
                <div class="audio-timer text-right">
                    {{time slider.max}}
                </div>
            </div>
        </div>
    </div>
</div>

{{view audio-component audio=audio}}
