<div {{action 'click'}} class="col-xs-10 inner-fill">
    <div {{bind-attr class=':list-group-item :audio-list :outer-panel model.isSelected:active'}}>
        <div class="media-left media-middle">
            <div class="outer-image">
                <img class="media-object inner-image" {{bind-attr src=model.thumbnail}} />
            </div>
        </div>

        <div class="media-body">
            <div>
                {{model.title}}
            </div>

            <div>
                {{#if model.isLoading}}
                    <i class="fa fa-spinner fa-pulse"></i>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div {{action 'toggleSelection'}} class="col-xs-2 handle" />
