<div class="btn-group btn-group-justified">
    <div {{action 'toggle' 'searchOnline'}} {{bind-attr class=':btn searchOnline:btn-primary'}}>
        Online
    </div>
    <div {{action 'toggle' 'searchMusicOnly'}} {{bind-attr class=':btn searchMusicOnly:btn-primary'}}>
        Music only
    </div>
    <div {{action 'toggle' 'searchOffline'}} {{bind-attr class=':btn searchOffline:btn-primary'}}>
        Offline
    </div>
</div>

<div class="form-group">
    <div {{bind-attr class='liveQuery:input-group'}}>
        {{#if liveQuery}}
            {{clear-addon text=liveQuery}}
        {{/if}}

        {{suggest-input value=liveQuery placeholder='Search' fetchSuggestions=fetchSuggestions insert-newline='search'}}
    </div>
</div>

<button class="btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

<div class="list-group">
    {{#each snippet in sortedSnippets}}
        {{app-snippet model=snippet action='play' param=snippet}}
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
