<div class="jumbotron search">
    <div class="container">
        <div class="input-group">
            {{#if query}}
                <div class="input-group-btn">
                    <div {{action 'clear'}} class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            {{/if}}

            {{suggest-input value=query insert-newline='search'}}

            <div class="input-group-btn">
                <button {{action 'search'}} class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <div class="search-bar text-right">
            <div {{action 'toggleMusicOnly'}} {{bind-attr class=':label session.model.musicOnly:label-primary:label-default'}}>
                {{#if session.model.musicOnly}}
                    <i class="fa fa-check" ></i>
                {{/if}}

                music only
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    {{#each snippet in snippets}}
        <a {{action 'load' snippet}} class="list-group-item audio-list">
            <div class="media-left media-middle">
                <div class="outer-image">
                    <img class="media-object inner-image" {{bind-attr src=snippet.thumbnail}} />
                </div>
            </div>
            <div class="media-body">
                <h4 class="list-group-item-heading">
                    {{snippet.title}}
                </h4>
            </div>
        </a>
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
