<div class="jumbotron search">
    <div>
        <label>
            {{input type='checkbox' checked=searchOnline}}
            online
        </label>
    </div>

    <div>
        {{view label-component label=musicOnlyLabel}}&nbsp;
    </div>

    <div>
        <label>
            {{input type='checkbox' checked=searchOffline}}
            offline
        </label>
    </div>

    {{view label-component label=queueLabel}}&nbsp;

    <div>
        <label>
            {{input type='checkbox' checked=searchOnline}}
            online
        </label>
    </div>

    <div>
        {{view label-component label=musicOnlyLabel}}&nbsp;
    </div>

    <div>
        <label>
            {{input type='checkbox' checked=searchOffline}}
            offline
        </label>
    </div>
</div>

<button class="btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

{{view snippets-component snippets=sortedSnippets action='play' param=snippet didUpdate='didUpdate' param=snippetIds didDragStart='didDragStart'}}

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
