{{#if cache.selectedSnippets}}
    {{#action-bar models=cache.selectedSnippets}}
        <div class="col-xs-2 outer-label">
            {{#link-to 'labels' properties=linkToProperties}}
                <i class="mdi-maps-local-offer"></i>
            {{/link-to}}
        </div>

        <div class="col-xs-2 outer-label">
            {{#if unsavedSnippets}}
                <div {{action 'save'}} class="inner-label">
                    {{#unless isEveryUnsaved}}
                        <span class="badge">
                            {{unsavedSnippets.length}}
                        </span>
                    {{/unless}}

                    <i class="mdi-file-file-download"></i>
                </div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>

        <div class="col-xs-2 outer-label">
            {{#if hasSingle}}
                <div {{action 'edit'}} class="inner-label">
                    <i class="mdi-editor-mode-edit"></i>
                </div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>

        <div class="col-xs-2 outer-label">
            {{#if savedSnippets}}
                <div {{action 'remove'}} class="inner-label">
                    {{#unless isEverySaved}}
                        <span class="badge">
                            {{savedSnippets.length}}
                        </span>
                    {{/unless}}

                    <i class="mdi-action-delete"></i>
                </div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>
    {{/action-bar}}
{{/if}}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="checkbox checkbox-primary">
                <label>
                    {{input type='checkbox' checked=searchOnline}}

                    <span class="checkbox-material">
                        <span class="check" />
                    </span>

                    Online
                </label>
            </div>

            {{#if searchOnline}}
                <div class="checkbox checkbox-primary">
                    <label>
                        {{input type='checkbox' checked=searchMusicOnly}}

                        <span class="checkbox-material">
                            <span class="check" />
                        </span>

                        Music only
                    </label>
                </div>
            {{/if}}
        </div>

        <div class="col-xs-6">
            <div class="checkbox checkbox-primary">
                <label>
                    {{input type='checkbox' checked=searchOffline}}

                    <span class="checkbox-material">
                        <span class="check" />
                    </span>

                    Offline
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-group float-input">
    <div {{bind-attr class='liveQuery:input-group'}}>
        {{#if liveQuery}}
            {{clear-addon text=liveQuery}}
        {{/if}}

        {{suggest-input value=liveQuery placeholder='Search' fetchSuggestions=fetchSuggestions insert-newline='search'}}
    </div>
</div>

<button class="btn btn-default btn-file btn-raised">
    Import audio
    {{file-input}}
</button>

<div class="list-group float-input">
    {{#each snippet in sortedSnippets}}
        {{app-snippet model=snippet action='play' swipeleft='pushToDownload' swiperight='pushToQueue' param=snippet}}

        <div class="list-group-separator snippet-separator" />
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
