<div class="jumbotron search">
    <div class="container">
        <div class="input-group">
            {{#if query}}
                <div class="input-group-btn">
                    <div {{action 'clear'}} class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            {{/if}}

            {{suggest-input value=query}}

            <div class="input-group-btn">
                <button {{action 'search'}} class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <!-- TODO: Implement session.model.filters based on fileSystem.model.labels -->
        </div>
    </div>
</div>

<button class="file-input btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

<div class="list-group">
    {{#each snippet in snippets}}
        <a {{action 'load' snippet}} class="list-group-item audio-list">
            <div class="media-left media-middle">
                <div class="outer-image">
                    <img class="media-object inner-image" {{bind-attr src=snippet.thumbnail}} />
                </div>
            </div>
            <div class="media-body">
                <h4 class="list-group-item-heading">
                    {{snippet.title}}
                </h4>

                {{#each label in snippet.labels}}
                    <span class="label label-default">
                        {{label}}
                    </span>
                {{/each}}
            </div>
        </a>
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
