{{#if selectedSnippets}}
    <div class="action-bar container text-center">
        <div class="row">
            <div class="col-xs-2">
                <i {{action 'save'}} class="btn fa fa-download"></i>
            </div>

            <div class="col-xs-2">
                <i class="btn fa fa-tag"></i>
            </div>

            <div class="col-xs-2">
                <i class="btn fa fa-pencil"></i>
            </div>

            <div class="col-xs-2">
                <i class="btn fa fa-trash-o"></i>
            </div>

            <div class="col-xs-4">
                <i {{action 'cancel'}} class="btn fa fa-times action-cancel"></i>
            </div>
        </div>
    </div>
{{/if}}

<div class="jumbotron search">
    <div class="container">
        <div class="input-group">
            {{#if query}}
                <div class="input-group-btn">
                    <div {{action 'clear'}} class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            {{/if}}

            {{suggest-input value=query insert-newline='search'}}

            <div class="input-group-btn">
                <button {{action 'search'}} class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <!-- TODO: Implement session.model.filters based on fileSystem.model.labels -->
        </div>
    </div>
</div>

<button class="file-input btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

<div class="list-group">
    {{#each snippet in snippets}}
        <a {{action 'select' snippet}} {{bind-attr class=':list-group-item :audio-list snippet.isSelected:active'}}>
            <div class="media-left media-middle">
                <div class="outer-image">
                    <img class="media-object inner-image" {{bind-attr src=snippet.thumbnail}} />
                </div>
            </div>
            <div class="media-body">
                <div class="list-group-item-heading">
                    {{snippet.title}}
                </div>

                {{#each label in snippet.labels}}
                    <span class="label label-default">
                        {{label}}
                    </span>&nbsp;
                {{/each}}

                {{#if snippet.isLoading}}
                    <i class="fa fa-download"></i>
                {{/if}}
            </div>
        </a>
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
