{{#if selectedSnippets}}
    {{view actionBar-component snippets=selectedSnippets}}
{{/if}}

<div class="jumbotron search">
    <div class="container">
        <div class="input-group">
            {{#if searchQuery}}
                <div class="input-group-btn">
                    <div {{action 'clear'}} class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            {{/if}}

            {{suggest-input value=searchQuery placeholder='Search' fetchSuggestions=fetchOnlineSuggestions insert-newline='search'}}

            <div class="input-group-btn">
                <button {{action 'search'}} class="btn btn-primary btn-icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <div>
            <label>
                {{input type='checkbox' name='online' checked=searchOnline}}
                online
            </label>
        </div>

        <div>
            {{view label-component label=musicOnlyLabel}}&nbsp;
        </div>

        <div>
            <label>
                {{input type='checkbox' checked=searchOffline}}
                offline
            </label>
        </div>

        <!-- TODO: create component for whole input. Applies search && label in this case. -->
        <div class="input-group">
            {{#if newLabel}}
                <div class="input-group-btn">
                    <div {{action 'clear'}} class="btn btn-default">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            {{/if}}

            {{input value=newLabel placeholder='Create label' action='createLabel' on='enter' class='form-control'}}

            <span class="input-group-btn">
                <button {{action 'createLabel'}} class="btn btn-primary btn-icon">
                    <i class="fa fa-check"></i>
                </button>
            </span>
        </div>

        {{view label-component label=queueLabel}}&nbsp;

        {{#each label in fileSystem.labels}}
            {{view label-component label=label action='search' }}&nbsp;
        {{/each}}
    </div>
</div>

<button class="btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

{{view snippets-component snippets=sortedSnippets action='play' param=snippet didUpdate='didUpdate' param=snippetIds didDragStart='didDragStart'}}

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
