<div class="container">
    <div class="input-group">
        {{#if query}}
            <span class="input-group-btn">
                <div {{action 'clear'}} class="btn btn-default">
                    <i class="fa fa-times"></i>
                </div>
            </span>
        {{/if}}

        {{focus-input value=query class='form-control input-search' placeholder='Search' insert-newline='search'}}

        <span class="input-group-btn">
            <button {{action 'search'}} class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>

<div class="list-group result">
    {{#each snippet in snippets}}
        <a {{action 'load' snippet}} class="media list-group-item">
            <div class="media-left media-middle">
                <div class="outer-image">
                    <img class="media-object inner-image" {{bind-attr src=snippet.thumbnail}} />
                </div>
            </div>
            <div class="media-body">
                <h4>
                    {{snippet.title}}
                </h4>
            </div>
        </a>
    {{/each}}
</div>
