<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    {{input type='checkbox' checked=searchOnline}}

                    <span class="checkbox-material">
                        <span class="check" />
                    </span>

                    Online
                </label>
            </div>

            {{#if searchOnline}}
                <div class="checkbox">
                    <label>
                        {{input type='checkbox' checked=searchMusicOnly}}

                        <span class="checkbox-material">
                            <span class="check" />
                        </span>

                        Music only
                    </label>
                </div>
            {{/if}}
        </div>

        <div class="col-xs-6">
            <div class="checkbox">
                <label>
                    {{input type='checkbox' checked=searchOffline}}

                    <span class="checkbox-material">
                        <span class="check" />
                    </span>

                    Offline
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div {{bind-attr class='liveQuery:input-group'}}>
        {{#if liveQuery}}
            {{clear-addon text=liveQuery}}
        {{/if}}

        {{suggest-input value=liveQuery placeholder='Search' fetchSuggestions=fetchSuggestions insert-newline='search'}}
    </div>
</div>

<button class="btn btn-default btn-file">
    Import audio
    {{file-input}}
</button>

<div class="list-group">
    {{#each snippet in sortedSnippets}}
        {{app-snippet model=snippet action='play' swipeleft='pushToDownload' swiperight='pushToQueue' param=snippet}}

        <div class="list-group-separator snippet-separator" />
    {{/each}}
</div>

{{#if isLoading}}
    <div class="text-center audio-icon">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
{{/if}}
